<div class="mov-paginator">
  <div class="mov-paginator__action">
    <button
      [ngClass]="{ 'mov-paginator--disabled': !showPrev }"
      class="mov__button"
      aria-label="prev"
      (click)="goPrev()"
    >
      <em class="fas fa-arrow-left"></em>
    </button>
  </div>
  <div class="mov-paginator__action">
    <button
      [ngClass]="{ 'mov-paginator--disabled': !showNext }"
      class="mov__button"
      aria-label="next"
      (click)="goNext()"
    >
      <em class="fas fa-arrow-right"></em>
    </button>
  </div>
</div>
