@import '../../../../styles/colors';

.mov-loader {
  &__spinner {
    background-color: $gray-800;
    opacity: 0.65;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
  }
}
