// Responsive media queries sizes
$media-xxs: 320px;
$media-xs: 480px;
$media-sm: 768px;
$media-md: 950px;
$media-lg: 1440px;
$media-xl: 1920px;

// Nav-menu
$nav-menu--height: 60px;

// Grid
$grid-minmax-width: 300px;
