@import '../styles/colors.scss';
@import '../styles/variables.scss';

.mov-app {
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;

  &__router {
    background-color: $gray-800;
    min-height: calc(100vh - #{$nav-menu--height});
    position: relative;
    top: $nav-menu--height;
  }
}
