<div class="mov-movies">
  <ng-container *transloco="let t">
    <div class="mov--display-flex mov--justify-content-center mov--align-items-center">
      <h1>{{ t('movies.title') }}</h1>
    </div>

    <ng-container *ngIf="movies$ | async as movies">
      <div *ngIf="pagination$ | async as pagination" class="mov-movies__paginator">
        <app-paginator
          [total]="totalMovies$ | async"
          [page]="pagination.page"
          [perPage]="pagination.limit"
          (prev)="getMovies(page - 1)"
          (next)="getMovies(page + 1)"
        >
        </app-paginator>
      </div>

      <div class="mov-movies__list">
        <div *ngFor="let movie of movies">
          <app-card
            class="mov-movies__item-list"
            [title]="movie?.title"
            [image]="movie?.poster"
            [footerItems]="movie?.genre"
          >
          </app-card>
        </div>
      </div>
    </ng-container>

    <!-- TODO Create shared component -->
    <div class="mov-movies__footer">
      <button [routerLink]="['/', routePath.MOVIES, routePath.NEW]" class="mov__button">
        <em class="fas fa-plus"></em>
      </button>
    </div>
  </ng-container>
</div>
