@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

.mov-movies {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    padding: 1rem 3rem 6rem 3rem;

    @media (max-width: #{$media-xs}) {
      grid-template-columns: repeat(auto-fit, 100%);
      padding: 1rem 1rem 6rem 1rem;
    }
  }

  &__footer {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 1rem;
  }
}
