@import '../src/styles/colors.scss';
@import '../src/styles/variables.scss';
@import '../src/styles/mixins.scss';

body {
  margin: 0;
  padding: 0;

  h1 {
    color: $gray-200;
  }

  h2 {
    color: $mandarine;
  }

  h5,
  p {
    color: $gray-400;
  }

  h3,
  h4,
  h6 {
    color: $white;
  }

  a {
    cursor: pointer;
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $mandarine;
    }
  }

  .mov {
    &--display-flex {
      display: flex;
    }

    &--justify-content-center {
      justify-content: center;
    }

    &--align-items-center {
      align-items: center;
    }
  }
}
