@import '../src/styles/colors.scss';
@import '../src/styles/variables.scss';
@import '../src/styles/mixins.scss';

@import '~ngx-toastr/toastr';

@import '../src/styles/components/primeng/form';

body {
  margin: 0;
  padding: 0;

  h1 {
    color: $gray-200;
  }

  h2 {
    color: $mandarine;
  }

  h5,
  p {
    color: $gray-400;
  }

  h3,
  h4,
  h6 {
    color: $white;
  }

  a {
    cursor: pointer;
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }

  .mov {
    &--display-flex {
      display: flex;
    }

    &--justify-content-center {
      justify-content: center;
    }

    &--align-items-center {
      align-items: center;
    }

    &__label {
      font-size: 1.25rem;
      color: $gray-200;
    }

    &__button {
      background-color: $mandarine;
      border: 2px solid $mandarine;
      color: $black;
      border-radius: 30px;
      font-size: 1.5rem;
      padding: 12px 15px;
      cursor: pointer;

      &--edit {
        background-color: $green;
      }

      &--remove {
        background-color: $red;
      }
    }
  }
}
