@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

$sidebar-width: 250px;
$icon-part-deg-rotate: 135deg;

@mixin common-transition {
  transition: all 0.3s;
}

@mixin icon-parts {
  @include common-transition;
  position: relative;
  float: left;
}

.mov-nav-menu {
  &__header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: $black;
    position: fixed;
    height: $nav-menu--height;
    overflow: hidden;
    z-index: 10;
  }

  &__sidebar-inner {
    margin: 0;
    padding: 0;
    border-top: 1px solid $gray-800;

    li {
      font-weight: bold;
      padding: 20px;
      list-style: none;
      border-bottom: 1px solid $gray-800;
    }
  }

  &__sidebar-icon {
    @include common-transition;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
  }

  #sidebarMenu {
    background-color: $gray-600;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    width: $sidebar-width;
    margin-top: $nav-menu--height;
    transform: translateX(-#{$sidebar-width});
    transition: transform 250ms ease-in-out;
  }

  &__link {
    &--active {
      color: $gray-600;
    }
  }

  &__spinner {
    @include common-transition;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $white;
  }

  &--horizontal,
  &--diagonal-part-2 {
    @include icon-parts;
    margin-top: 3px;
  }

  &--diagonal-part-1 {
    @include icon-parts;
  }

  input[type='checkbox'] {
    @include common-transition;
    display: none;

    &:checked {
      & ~ #sidebarMenu {
        transform: translateX(0);
      }

      & ~ .mov-nav-menu__sidebar-icon {
        & > .mov-nav-menu--horizontal {
          @include common-transition;
          opacity: 0;
        }
        & > .mov-nav-menu--diagonal-part-1 {
          @include common-transition;
          transform: rotate(#{$icon-part-deg-rotate});
          margin-top: 8px;
        }
        & > .mov-nav-menu--diagonal-part-2 {
          @include common-transition;
          transform: rotate(-#{$icon-part-deg-rotate});
          margin-top: -9px;
        }
      }
    }
  }
}
